PORT=8000
MONGODB_URI=mongodb+srv://naveen:naveen123@cluster0.21mcocl.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dx1iemyix
CLOUDINARY_API_KEY=961591769688615
CLOUDINARY_API_SECRET=tYUBHCz0cWZhwwkmtkzXF9Cwch4
